<aside class="sidebar">
  {{ $home := .Site.GetPage "/" }}
  {{ with $home.Params.sidebar }}
      <img src="{{ .avatar | relURL }}" alt="Profile Image" class="profile-img">
      <h2>{{ .name }}</h2>
      <p>{{ .description }}</p>
      <div class="social-icons">
          {{ range .socials }}
          <a href="{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a>
          {{ end }}
      </div>
  {{ end }}

  <nav class="nav-menu">
      <a href="{{ "/" | relURL }}" class="{{ if eq .Kind "home" }}active{{ end }}"><i class="fas fa-user-alt"></i> About Me</a>
      
      <a href="{{ "/experience/" | relURL }}" class="{{ if eq .Type "experience" }}active{{ end }}"><i class="fas fa-briefcase"></i> Professional Experience</a>
      
      <a href="{{ "/projects/" | relURL }}" class="{{ if eq .Type "projects" }}active{{ end }}"><i class="fas fa-code"></i> Featured Projects</a>
      
      <a href="{{ "/research-interests/" | relURL }}" class="{{ if eq .Type "research_interests" }}active{{ end }}"><i class="fas fa-microscope"></i> Research Interests</a>
      
      <a href="{{ "/publications/" | relURL }}" class="{{ if eq .Type "publications" }}active{{ end }}"><i class="fas fa-book"></i> Publications</a>
      
      <a href="{{ "/awards/" | relURL }}" class="{{ if eq .Type "awards" }}active{{ end }}"><i class="fas fa-trophy"></i> Awards</a>
      
      <a href="{{ "/timeline/" | relURL }}" class="{{ if eq .Type "timeline" }}active{{ end }}"><i class="fas fa-history"></i> Timeline</a>
  </nav>
</aside>
